<wcs-action-bar gutter="">
  Livrets de dépannages - <span id="title-engin-field">{{enginService.actual_engin}}</span>
  <div slot="actions">
    <wcs-mat-icon icon="home" slot="actions" id="homeButton" size="l" routerLink="/"></wcs-mat-icon>
  </div>
</wcs-action-bar>

<div class="page-content">

  <!--Card d'avertissement plateformes DsMat et DocMat-->
  <wcs-card mode="flat" id="card-connect-services" *ngIf="!generalService.offlineMode && generalService.connectMessageStatus"
            slot="actions">
    <wcs-card-body id="body-card-connect-services">
      <span>Pour ouvrir les schémas électrique sur DsMat ou DocMat, il est nécessaire de s'authentifier auparavant</span>
      <wcs-button mode="stroked" size="s" [href]="generalService.URLconnectDsMat" target="_blank">Se connecter à DsMat</wcs-button>
      <wcs-button mode="stroked" size="s" [href]="generalService.URLconnectDocMat" target="_blank">Se connecter à DocMat</wcs-button>
      <wcs-mat-icon icon="close" id="button-close-card" (click)="generalService.hideConnectMessage()"></wcs-mat-icon>
    </wcs-card-body>
  </wcs-card>

  <!--Card pour les filtres-->
  <wcs-card mode="raised">
    <wcs-card-body id="filters-card-body">
      <div id="filtres-container">
        <!--Select pour les engins enregistrés : Favoris + Technicentre-->
        <div>
          <wcs-label>N° enregistrés</wcs-label>
          <wcs-select #selectFavEngin placeholder="Choisir un engin" [value]="ldService.fav_engin"
                      (wcsChange)="ldService.changeValueFilter('fav_engin', selectFavEngin.value)">
            <wcs-select-option value="" *ngIf="ldService.fav_engin"><b>Aucun</b></wcs-select-option>
            <wcs-select-option disabled="true" *ngIf="enginService.combinedTechFavEngins.engins_technicentre.length > 0">Technicentre</wcs-select-option>
            <wcs-select-option *ngFor="let engin of enginService.combinedTechFavEngins.engins_technicentre" [value]="'technicentre_' + engin.engin_numero">{{engin.engin}} {{engin.engin_type}} {{engin.engin_numero}}</wcs-select-option>
            <wcs-select-option disabled="true" *ngIf="enginService.combinedTechFavEngins.engins_fav.length > 0">Favoris</wcs-select-option>
            <wcs-select-option *ngFor="let engin of enginService.combinedTechFavEngins.engins_fav" [value]="'fav_' + engin.engin_numero">{{engin.engin}} {{engin.engin_type}} {{engin.engin_numero}}</wcs-select-option>
          </wcs-select>
        </div>

        <!--Select pour le type d'engin : BGC, XGC ou 3C, 2C etc.-->
        <div id="type-engin-field">
          <wcs-label>Type d'engin</wcs-label>
          <wcs-select #selectTypeEngin placeholder="Choisir un type" [value]="ldService.engin_type"
                      (wcsChange)="ldService.changeValueFilter('engin_type', selectTypeEngin.value)">
            <wcs-select-option value="" *ngIf="ldService.engin_type"><b>Tous</b></wcs-select-option>
            <wcs-select-option *ngFor="let type of enginService.actual_type_engin" [value]="type">{{type}}</wcs-select-option>
          </wcs-select>
        </div>

        <!--Dans le LD 5 200 1 01 se situent les tableaux de correspondance schémas / engins-->
        <!--Input de numéro d'engin-->
        <div>
          <wcs-label>Numéro de rame</wcs-label>
          <wcs-input #inputEnginNum placeholder="ex: X 76 533" [value]="ldService.enginNum_value"
                     (wcsChange)="ldService.changeValueFilter('enginNum_value', inputEnginNum.value)"></wcs-input>
        </div>

        <!--Select pour les Système / Fonction possibles : motrice, remorque, groupe électrogène, etc.-->
        <div>
          <wcs-label>Système / Fonction</wcs-label>
          <wcs-select #selectSysteme placeholder="Choisir un système" [value]="ldService.systeme"
                      (wcsChange)="ldService.changeValueFilter('systeme', selectSysteme.value)">
            <wcs-select-option value="" *ngIf="ldService.systeme"><b>Tous</b></wcs-select-option>
            <ng-container *ngFor="let systeme of dataService.filters">
              <wcs-select-option *ngIf="systeme.page == 'ld' && systeme.type == 'systeme'" [value]="systeme.filter">{{systeme.filter_formatted}}</wcs-select-option>
            </ng-container>
          </wcs-select>
        </div>

        <!--Select pour les types possibles : schémas electriques, codes défauts-->
        <div>
            <wcs-label>Type</wcs-label>
            <wcs-select #selectType placeholder="Choisir un type" [value]="ldService.type" (wcsChange)="ldService.changeValueFilter('type', selectType.value)">
              <wcs-select-option value="" *ngIf="ldService.type"><b>Tous</b></wcs-select-option>
              <ng-container *ngFor="let systeme of dataService.filters">
                <wcs-select-option *ngIf="systeme.page == 'ld' && systeme.type == 'type'" [value]="systeme.filter">{{systeme.filter_formatted}}</wcs-select-option>
              </ng-container>
            </wcs-select>
        </div>
      </div>

      <!--Input de recherche-->
      <div>
        <wcs-label>Recherche textuelle</wcs-label>
        <wcs-input #inputSearch placeholder="ex: LD 5 200 ..." [value]="ldService.search_value"
                   (wcsChange)="ldService.changeValueFilter('search_value', inputSearch.value)"></wcs-input>
      </div>

      <!--Bouton pour reinitialiser / supprimer les filtres-->
      <wcs-form-field>
        <wcs-button class="wcs-warning" mode="clear" size="m" (click)="ldService.changeValueFilter('reset', '')"><wcs-mat-icon icon="cancel"></wcs-mat-icon>‎‎ Supprimer les filtres</wcs-button>
      </wcs-form-field>
    </wcs-card-body>

  </wcs-card>

  <!--Card pour la grid-->
  <wcs-card mode="raised">
    <wcs-card-body>
      <ld-grid></ld-grid>
    </wcs-card-body>
  </wcs-card>

</div>
