.page-content {
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  gap: var(--wcs-margin-l);
}
#title-engin-field {
  font-size: 0.8em;
}
wcs-accordion-panel * {
  font-family: Avenir;
}

wcs-accordion-content {
  display: flex;
  flex-direction: row;
  justify-items: start;
}

#type-engin-field {
  width: 15em;
}
#filtres-container {
  display: flex;
  flex-direction: row;
  gap: var(--wcs-base-margin);
  align-items: flex-end;
}
#raccourcis-select {
  min-width: 12em;
}
