<app-action-bar pageName="Livrets de dépannages"></app-action-bar>

<div class="page-content">

  <!--Card pour les filtres-->
  <wcs-card mode="raised">
    <wcs-card-body id="filters-card-body">
      <form [formGroup]="ldService.filterForm" class="formclass">
        <formly-form [form]="ldService.filterForm" [fields]="filterFormFields"
                     [model]="ldService.filterFormModel"></formly-form>
      </form>

      <!--Bouton pour reinitialiser / supprimer les filtres-->
      <wcs-button class="wcs-warning" mode="clear" size="m" (click)="ldService.resetFilters()"><wcs-mat-icon icon="cancel"></wcs-mat-icon>‎‎ Supprimer les filtres</wcs-button>
    </wcs-card-body>

  </wcs-card>

  <!--Card pour la grid-->
  <wcs-card mode="raised">
    <wcs-card-body>
      <ld-grid></ld-grid>
    </wcs-card-body>
  </wcs-card>

</div>
