.page-content {
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  gap: var(--wcs-margin-l);
}
#title-engin-field {
  font-size: 0.8em;
}
wcs-accordion-panel * {
  font-family: Avenir;
}

wcs-accordion-content {
  display: flex;
  flex-direction: row;
  justify-items: start;
}

#filtres-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--wcs-base-margin);
  align-items: flex-end;
}
#card-connect-services {
  background-color: rgb(253, 236, 189);
  border-color: rgb(253, 181, 18);
  color: var(--wcs-orange);
}
#body-card-connect-services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}
#button-close-card {
  cursor: pointer;
}
.headerButton {
  cursor: pointer;
  user-select: none;
}
.actionsSlot {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
}
#filters-card-body {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
