# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/electron/dist
/electron/electronLDv2_Angular-win32-x64

# Node
/API/node_modules
/electron/node_modules
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

#Logs
/API/logs/*

#Electron executabes
/electronLDv2_Angular-win32-x64

# Documents folder in the assets --> Sensible + big files
/src/assets/documents
/API/config.ini
/API/config.json
