<wcs-nav>
  <wcs-nav-item text="Livrets de Dépannage" href="#">
    <wcs-mat-icon icon="description"></wcs-mat-icon>
  </wcs-nav-item>
  <wcs-nav-item text="Documentation par fonction" href="#">
    <wcs-mat-icon icon="folder" family="filled"></wcs-mat-icon>
  </wcs-nav-item>
  <wcs-nav-item text="Modules de formation" href="#">
    <wcs-mat-icon icon="school" family="filled"></wcs-mat-icon>
  </wcs-nav-item>
  <wcs-nav-item text="Localisation Organes" href="#">
    <wcs-mat-icon icon="travel_explore" family="filled"></wcs-mat-icon>
  </wcs-nav-item>
  <p slot="bottom" id="version">V 2.1.0 dev<br>03/11/2023</p>
</wcs-nav>
