<div class="page-content">
  <h1>Bienvenue sur le LD Interactif v2</h1>

  <ng-container *ngFor="let engin of dataService.engins">
    <!--Image de l'engin-->
    <img id="trainImage" *ngIf="enginService.actual_engin.engin == engin.engin && !trainImageHideAfterBadImport"
         ngSrc="'assets/images/' + engin.url_image_engin"
         (load)="trainImageLoaded = true" (error)="handleMissingImage($event)">
  </ng-container>
  <div id="blankEngin" *ngIf="!trainImageLoaded"> <!--*ngIf="!trainImageLoaded"-->
    <div class="trainWindow"></div>
    <div class="trainWindow"></div>
    <div class="trainWindow"></div>
    <div class="trainWindow"></div>
    <div class="trainWindow"></div>
  </div>

  <div id="pageContainer">

    <!--Card dernières Infos-->
    <wcs-card mode="flat" class="card" id="newsCard">
      <h3>Infos</h3>
      <!--List of all the news-->
      <div id="newsContainer">
        <div *ngFor="let news of dataService.homePageNews"
             class="newsItem">
          <h4>{{news.title}}</h4>
          <h5 *ngIf="news.subtitle">{{news.subtitle}}</h5>
          <span>{{news.article_content}}</span>
          <div class="buttons-url-list" *ngIf="news.urls">
            <wcs-button *ngFor="let url of news.urls" [href]="url.url" target="_blank">{{url.title}}</wcs-button>
          </div>
        </div>
      </div>
    </wcs-card>

    <!--Card Versions-->
    <wcs-card mode="flat" class="card" id="versionsCard">
      <h3>Mise à jour</h3>
      <div id="versionsContainer">
        <div class="versionItem">
          Mise à jour <b>Application</b> : <wcs-badge class="wcs-info">{{generalService.date_maj_applicatif_string}}</wcs-badge>
        </div>
        <div class="versionItem">
          Mise à jour données <b>AGC</b> : <wcs-badge class="wcs-info">{{generalService.date_maj_data_AGC_string}}</wcs-badge>
        </div>
        <div class="versionItem">
          Mise à jour données <b>TER 2N NG</b> : <wcs-badge class="wcs-info">{{generalService.date_maj_data_TER2NNG_string}}</wcs-badge>
        </div>
      </div>
    </wcs-card>

    <!--Card Engins Fav-->
    <wcs-card mode="flat" class="card" id="favEnginsCard">
      <h3>Engins Favoris</h3>
      <div id="favEnginContainer">
        <wcs-grid rowIdPath="engin_numero" [data]="enginService.favoriteEngins">
          <wcs-grid-column name="Engin" path="engin"></wcs-grid-column>
          <wcs-grid-column name="Type" path="engin_type"></wcs-grid-column>
          <wcs-grid-column name="N°" path="engin_numero"></wcs-grid-column>
        </wcs-grid>
      </div>
      <div id="buttonsEditContainer">
        <wcs-button id="button-edit-engins-fav" (click)="generalService.toggleModal('technicentreEnginModal', true)">Editer Technicentre</wcs-button>
        <wcs-button id="button-edit-tech" (click)="generalService.toggleModal('enginsFavoris', true)">Editer Engins Favoris</wcs-button>
      </div>
      <br>
      <ng-container *ngIf="generalService.actualTechnicentre">
        <h3>Technicentre sélectionné :</h3>
        <i>{{generalService.actualTechnicentre.technicentre_formatted}}</i>
      </ng-container>
    </wcs-card>

  </div>
</div>
