<div class="page-content">
  <h1>Bienvenue sur le LD Interactif v2</h1>

  @for (engin of dataService.engins; track engin.engin) {
    <!--Image de l'engin-->
    <img id="trainImage" *ngIf="enginService.actual_engin.engin == engin.engin && !trainImageHideAfterBadImport"
         [src]="'assets/images/' + engin.engin + '.png'"
         (load)="trainImageLoaded = true" (error)="handleMissingImage($event)">
  }
  @if (!trainImageLoaded) {
    <div id="blankEngin">
      <div class="trainWindow"></div>
      <div class="trainWindow"></div>
      <div class="trainWindow"></div>
      <div class="trainWindow"></div>
      <div class="trainWindow"></div>
    </div>
  }

  <div id="pageContainer">

    <!--Card Versions-->
    <wcs-card mode="flat" class="card" id="raccourcisCard">
      <h3>Liens rapide</h3>
      <div id="raccourcisContainer">
        <wcs-button mode="stroked" class="raccourciItem" target="_blank" href="https://dsmat.sncf.fr/">
          <img src="assets/images/logoDsMat.png" class="raccourcisLinkImage">
          DsMat
        </wcs-button>
        <wcs-button mode="stroked" class="raccourciItem" target="_blank" href="https://docmat.sncf.fr/">
          <img src="assets/sncf-logo.png" class="raccourcisLinkImage">
          DocMat
        </wcs-button>
        <wcs-button mode="stroked" class="raccourciItem" target="_blank" href="https://epri.prod.st.sncf.fr/">
          <img src="assets/images/logoEPRi.png" class="raccourcisLinkImage">
          EPRi
        </wcs-button>
        <wcs-button mode="stroked" class="raccourciItem" target="_blank" href="https://mytraindata.mt.sncf.fr/">
          <img src="assets/images/logoMTD.png" class="raccourcisLinkImage">
          MyTrainData
        </wcs-button>
        <wcs-button mode="stroked" class="raccourciItem" target="_blank" href="https://eureka.sncf.fr/">
          <img src="assets/images/logoEureka.ico" class="raccourcisLinkImage">
          Eurêka
        </wcs-button>
        <wcs-button mode="stroked" class="raccourciItem" target="_blank" href="https://iteminfo.pmm.sncf.fr/">
          <img src="assets/images/logoItemInfo.png" class="raccourcisLinkImage">
          ItemInfo
        </wcs-button>
      </div>
    </wcs-card>

    <!--Card Engins Fav-->
    <wcs-card mode="flat" class="card" id="favEnginsCard">
      <h3>Engins Favoris</h3>
      <div id="favEnginContainer">
        @if (enginService.favoriteEngins.length > 0) {
          <wcs-grid rowIdPath="engin_numero" [data]="enginService.favoriteEngins">
            <wcs-grid-column name="Engin" path="engin"></wcs-grid-column>
            <wcs-grid-column name="Type" path="engin_type"></wcs-grid-column>
            <wcs-grid-column name="N°" path="engin_numero"></wcs-grid-column>
          </wcs-grid>
        } @else {
          <p style="text-align: center">Vous n'avez pas d'engins favoris</p>
        }
      </div>
      <div id="buttonsEditContainer">
        <wcs-button id="button-edit-tech" (click)="generalService.toggleModal('enginsFavoris', true)">Editer Engins Favoris</wcs-button>
        <wcs-button id="button-edit-engins-fav" (click)="generalService.toggleModal('technicentreEnginModal', true)">Editer Technicentre</wcs-button>
      </div>
      <br>
      @if (generalService.actualTechnicentre) {
        <h3>Technicentre sélectionné :</h3>
        <i>{{generalService.actualTechnicentre.technicentre_formatted}}</i>
      }
    </wcs-card>

    <!--Card dernières Infos-->
    <wcs-card mode="flat" class="card" id="newsCard">
      <h3>Infos</h3>
      <!--List of all the news-->
      <div id="newsContainer">
        @for (news of dataService.homePageNews; track news.title) {
          <div class="newsItem">
            <h4>{{news.title}}</h4>
            @if (news.subtitle) {
              <h5>{{news.subtitle}}</h5>
            }
            <span>{{news.article_content}}</span>
            @if (news.urls) {
              <div class="buttons-url-list">
                @for (url of news.urls; track url.title) {
                  <wcs-button [href]="url.url" target="_blank">{{url.title}}</wcs-button>
                }
              </div>
            }
          </div>
        }
      </div>
    </wcs-card>

  </div>
</div>
