/*Style de la navbar*/
#navbar-action {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
#navbar-title {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

h1 {
  font-weight: 500;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}

/*Enlever la barre de recherche si écran < 900px*/
@media screen and (max-width: 900px) {
  #form-rechercher {
    display: none;
  }
}

/*Rendre le logo sncf "clickable" pour l'utilisateur en lui mettant le cursor en pointer*/
img {
  cursor: pointer;
}

/*Forcer le width du select d'engin
(pour afficher les noms les plus longs)*/
#enginSelect {
  width: 10em;
}

.disabled-option-dropdown {
  cursor: not-allowed;
  color: var(--wcs-text-disabled);
}
/*Make the card containing the cloud logo and the on/off button a flexbox with gap*/
#state-offline-card {
  display: flex;
  align-items: center;
  gap: 10px;
}
/*Not show the offline state button*/
#div-button-change-state-offline {
  display: none;
}

/*Prevent to show the on/off button for the offline mode if screen <630px*/
@media screen and (min-width: 630px) {
  #state-offline-card:hover > #div-button-change-state-offline {
    display: inherit;
  }
}
#state-offline-icon {
  color: var(--wcs-light);
}
.badge-en-ligne {
  transition: background-color 1s ease;
  background-color: var(--wcs-green);
}
.badge-hors-ligne {
  transition: background-color 1s ease;
  background-color: var(--wcs-yellow);
}
