<app-action-bar pageName="Panel d'administation">
  @if (administrationService.auth_status) {
    <span>
      Authentifié en tant que :
      <wcs-badge class="wcs-success">{{administrationService.auth_user?.username}} | {{administrationService.auth_user?.role}}</wcs-badge>
    </span>
    <wcs-mat-icon icon="logout" (click)="administrationService.disconnectUser()" class="icon-button" size="l"></wcs-mat-icon>
  } @else {
    <wcs-badge class="wcs-danger icon-button" (click)="generalService.toggleModal('authConnect', true)">Pas authentifié</wcs-badge>
  }
</app-action-bar>

@if (administrationService.auth_status) {
  <wcs-tabs align="center" gutter="true" [selectedKey]="selectedPageFromUrl" (tabChange)="changeUrlToTab($event)" #AdministrationTabs>

    <!--Tab ajout document-->
    <wcs-tab header="Ajout document" itemKey="ajout">
      <app-mod-element></app-mod-element>
    </wcs-tab>

    <!--Tab modification document-->
    <wcs-tab header="Modification document" itemKey="modif">
      @if (this.administrationService.editingCreatingDocument == "EDITING") {
        <app-mod-element></app-mod-element>
      } @else {
        <wcs-card mode="flat">
          <wcs-card-body>
            <h2><wcs-mat-icon icon="priority_high"></wcs-mat-icon> Veuillez sélectionner un document</h2>
          </wcs-card-body>
        </wcs-card>
      }
    </wcs-tab>

    <!--Tab gestion Filtres-->
    <wcs-tab header="Filtres / Catégories" itemKey="filtres">
      <app-filter-element></app-filter-element>
    </wcs-tab>

    <!--Tab gestion engins & Technicentres-->
    <wcs-tab header="Engins & Technicentres" itemKey="engin&technicentre">
    </wcs-tab>

    <!--Tab modification user-->
    <wcs-tab header="Utilisateurs" itemKey="users">
      <app-users-element></app-users-element>
    </wcs-tab>

  </wcs-tabs>
} @else {
  <div class="flex-column flex-justify-center flex-align-center" style="margin-top: 1em">
    <wcs-card mode="flat" id="notAuthCard">
      <h3>Vous ne pouvez pas accéder à cette ressource car vous n'êtes pas authentifié</h3>
      <p>Pour demander un accès à cette page veuillez vous rapprocher de l'administrateur LD Interactif V2</p>
    </wcs-card>
    <wcs-button (click)="generalService.toggleModal('authConnect', true)">Connexion</wcs-button>
  </div>
}
