<div class="page-content">

  <h3>Export de données JSON</h3>
  <wcs-card>
    <wcs-card-body>
      <wcs-select [value]="administrationService.typesOfDataToBeImportedExportedDoneesPage[0].filter"
                  #typeOfDataToBeExportedDonneePage
                  (wcsChange)="administrationService.typeOfDataExportDoneesPage = typeOfDataToBeExportedDonneePage.value">
        <wcs-select-option [value]="page.filter" *ngFor="let page of administrationService.typesOfDataToBeImportedExportedDoneesPage">{{page.filter_formatted}}</wcs-select-option>
      </wcs-select>
      <wcs-button class="wcs-success" (click)="administrationService.updateExportTextArea()">Rafraîchir</wcs-button>
    </wcs-card-body>
  </wcs-card>
  <wcs-textarea icon="" resize="auto" placeholder="Placeholder" [value]="administrationService.exportTextAreaVarDoneesPage"></wcs-textarea>

  <br> <!--Oui ceci est bien un br dans une page avec un flexbox...-->
  <h3>Import de données JSON</h3>
  <wcs-card>
    <wcs-card-body>
      <wcs-select [value]="administrationService.typesOfDataToBeImportedExportedDoneesPage[0].filter"
                  #typeOfDataToBeImportedDonneePage
                  (wcsChange)="administrationService.typeOfDataImportDoneesPage = typeOfDataToBeImportedDonneePage.value">
        <wcs-select-option [value]="page.filter" *ngFor="let page of administrationService.typesOfDataToBeImportedExportedDoneesPage">{{page.filter_formatted}}</wcs-select-option>
      </wcs-select>
      <wcs-button class="wcs-info" (click)="administrationService.importFromImportTextArea(textAreaImportDonneesPage.value)">Importer</wcs-button>
    </wcs-card-body>
  </wcs-card>
  <wcs-textarea icon="" resize="auto" placeholder="Placeholder" [value]="administrationService.importTextAreaVarDoneesPage" #textAreaImportDonneesPage></wcs-textarea>


</div>
