/*Define the page flexbox + card elements*/
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: var(--wcs-margin-l);
}
h3 {
  margin: 0.5em 0;
}
wcs-textarea {
  min-height: 15em;
}
wcs-select {
  min-width: 17em;
}
wcs-card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
