<wcs-nav>
  <wcs-nav-item text="Livrets de Dépannage" routerLink="/livretDepannage" routerLinkActive="active">
    <wcs-mat-icon icon="description"></wcs-mat-icon>
  </wcs-nav-item>
  <wcs-nav-item text="Documentation par fonction" routerLink="/documentationParFonction" routerLinkActive="active">
    <wcs-mat-icon icon="folder" family="filled"></wcs-mat-icon>
  </wcs-nav-item>
  <wcs-nav-item text="Modules de formation" routerLink="/modulesDeFormation" routerLinkActive="active">
    <wcs-mat-icon icon="school" family="filled"></wcs-mat-icon>
  </wcs-nav-item>
  <wcs-nav-item text="Localisation Organes" routerLink="/localisationDesOrganes" routerLinkActive="active">
    <wcs-mat-icon icon="explore" family="filled"></wcs-mat-icon>
  </wcs-nav-item>
  <wcs-nav-item text="Codes défauts" routerLink="/codesDefauts" routerLinkActive="active">
    <wcs-mat-icon icon="select_all" family="filled"></wcs-mat-icon>
  </wcs-nav-item>
  <p slot="bottom" id="version">{{generalService.app_version}} {{generalService.app_build}}<br>{{generalService.date_maj_applicatif_string}}</p>
</wcs-nav>

<!--Pour ajouter une nouvelle page :
- Ajouter bouton dans navbar et lui associer le routerLink + routerLinkActive
- Ajouter un component genre XXX-page avec "ng generate component XXXX-page"
- Ajouter ce component dans app.routing.ts dans le router
- FINI
-->
