.header-clickable {
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}
.header-clickable:hover {
  background-color: #f6f5f5;
}
.header-clickable:active {
  background-color: #cbcbcb;
}
.page-content {
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  gap: var(--wcs-margin-l);
}

.fonctions-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--wcs-margin-m);
}

.fonction-button {
  position: relative;
  width: 10em;
  height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--wcs-blue);
  border-radius: 10px;
  color: var(--wcs-white);
  font-weight: 500;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

.nb-correspondance {
  position: absolute;
  top: 5px; /* Adjust the vertical position */
  left: 5px; /* Adjust the horizontal position */
  font-size: 0.8em; /* Adjust size as needed */
  color: var(--wcs-white);
  border-radius: 5px;
  background-color: var(--wcs-gray-light);
  padding: 0.2em 0.4em;
}

.fonction-button:hover {
  transform: scale(1.04);
  background-color: var(--wcs-green);
}

h4 {
  margin: 0;
  font-weight: 400;
}

.card-category {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
}

@media (max-width: 500px) {
  .card-category {
    flex-flow: column nowrap;
  }
  .card-category-left {
    width: 100%;
    position: static;
  }
}

.card-category-left {
  width: fit-content;
  min-width: 20em;
  max-width: 22em;
  height: fit-content;
  position: sticky;
  top: 10px;
}

.card-category-right {
  flex-grow: 1;
}

.documents-card {
  gap: 0;
}

/*Grid styling*/
.description-meta-fields {
  margin-top: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.2em;
  width: fit-content;
}
.description-meta-fields > * {
  text-align: start;
}
