/*Define the page flexbox + card elements*/
.page-content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: var(--wcs-margin-l);
}

/*Title / Action bar*/
.label-search-action-bar {
  margin: 0 1em;
  max-height: 1.5em;
  max-width: 20em;
  overflow: hidden;
  align-self: center;
}

/*Tabs common elements*/
h4 {
  margin: 0 0 1em;
  text-align: center;
}
.ft-w-400 {
  font-weight: 400;
}
.ft-w-500 {
  font-weight: 500;
}
.tab-content {
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: row;
  text-align: left;
}

/*Grid styling*/
.grid-filter-div {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.2em;
}
.grid-filter-div > * {
  text-align: start;
}
