<app-action-bar pageName="Recherche">
  <p class="label-search-action-bar" *ngIf="searchService.searchValue !== ''">Résultats pour : <span class="ft-w-500">{{searchService.searchValue}}</span></p>
  <p class="label-search-action-bar" *ngIf="searchService.searchValue === ''">Résultats pour : <span class="ft-w-500">Tout afficher</span></p>
</app-action-bar>

<div class="page-content">

  <!--Error message -> Database not correctly initialized-->
  @if (!searchService.searchedObjects) {
    <p>Un problème de chargement de la base de donnée est survenue, retentez de l'initialiser ci-dessous</p>
    <wcs-button class="wcs-warning" (click)="searchService.searchIntoWebSite('')">Initialiser la base de donnée</wcs-button>
  } @else {
    <!--Error message -> no item found-->
    @if (searchService.searchedObjects.length === 0) {
      <p>Aucun document trouvé pour "<i>{{searchService.searchValue}}</i>"</p>
    }

    <!--Results Tab-->
    @if (searchService.searchedObjects && searchService.searchedObjects.length !== 0) {

        <!--Grid pour l'affichage des données des LD-->
        <wcs-grid row-id-path="id" [data]="searchService.searchedObjects">
          <!--Colonnes de la grid-->
          <wcs-grid-column name="Désignation" path="name" sort="" id="column-designation" width="30vw"></wcs-grid-column>
          <wcs-grid-column name="Type engin" id="enginType" customCells="true" width="10vw"></wcs-grid-column>
          <wcs-grid-column name="Filtres" id="filters" customCells="true" width="10vw"></wcs-grid-column>
          <wcs-grid-column name="Reference" path="ref_main" sort="" id="column-ref"></wcs-grid-column>
          <wcs-grid-column name="Ouvrir" id="url" custom-cells="true" width="10vw"></wcs-grid-column>

          <!--Cases personalisés pour la colonne "Type Engin"-->
          @for (item of searchService.searchedObjects; track item.id) {
            <wcs-grid-custom-cell column-Id="enginType" [rowId]="item.id">
              <!--Affichage de "Tous" si tous les types sont concernés-->
              @if (item.engin_type.length == enginService.actual_engin.types_engin.length) {
                <span>Tous les {{enginService.actual_engin.engin}}</span>
              } @else {
                <span>{{item.engin_type.join(" ; ")}}</span>
              }
            </wcs-grid-custom-cell>
          }

          <!--Cases personalisés pour la colonne "Filtres"-->
          @for (item of searchService.searchedObjects; track item.id) {
            <wcs-grid-custom-cell column-Id="filters" [rowId]="item.id">
              <div class="grid-filter-div">
                @for (filter of getKeys(item.meta); track filter) {
                  <wcs-badge class="wcs-primary"><b>{{filter}}</b> : {{returnFilterObject(item.meta, filter).filter_formatted}}</wcs-badge>
                }
              </div>
            </wcs-grid-custom-cell>
          }

          <!--Cases personalisés pour la colonne "Ouvrir"-->
          <!--Avec des boutons pour ouvrir docs selon les liens de l'item et si on est en hors ligne ou non-->
          <wcs-grid-custom-cell column-Id="url" [rowId]="item.id" *ngFor="let item of searchService.searchedObjects">

            <wcs-button mode="clear" size="s" target="_blank"
                        *ngFor="let link of item.links"
                        [href]="link.url"
                        class="wcs-primary">
              🔗 {{link.type}} - {{link.name}}
            </wcs-button>

          </wcs-grid-custom-cell>

          <!--Pagination element at the bottom of the grid-->
          <wcs-grid-pagination id="grid-pagination" [pageSize]="20" [availablePageSizes]="[20, 40, 60]"></wcs-grid-pagination>
        </wcs-grid>
    }
  }

</div>
