<div id="page-wrapper">
  <app-navbar id="navbar-wrapper"></app-navbar>
  <app-sidemenu id="sidebar-wrapper"></app-sidemenu>
  <div id="page-content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <app-modals id="modals-wrapper"></app-modals>
</div>

<!--Generate angular app from direct execute-->
<!--ng build --prod --base-href ./-->
<!--Then delete all "type="module" from the generated html file"-->
<!--https://www.appsloveworld.com/angular/100/17/run-angular-7-project-locally-on-file-without-server-->
<!--https://stackoverflow.com/questions/40024147/run-angular2-as-static-app-in-browser-without-a-server/61220058#61220058-->
