<app-action-bar pageName="Codes défauts"></app-action-bar>

<div class="page-content">
  <wcs-card>
    <wcs-card-body class="card-header">
      <wcs-mat-icon icon="crisis_alert"></wcs-mat-icon>
      <h2>Recherche du code défaut</h2>
    </wcs-card-body>
    <wcs-divider></wcs-divider>
    <wcs-card-body class="card-content">
      <form [formGroup]="codesDefService.searchBarForm" class="formclass">
        <formly-form [form]="codesDefService.searchBarForm" [fields]="searchBarFormFields"
                     [model]="codesDefService.searchBarFormModel"></formly-form>
      </form>
    </wcs-card-body>
  </wcs-card>
</div>
