/*Define the page flexbox + card elements*/
.page-content {
  padding: 1em;
  display: flex;
  gap: var(--wcs-margin-l);
  height: 100%;
}
@media screen and (min-width: 1000px) {
  .page-content {
    flex-direction: row;
    height: calc(100% - (56px + 60px)); /*Full heigh minus the navbar and title height*/
  }
}
@media screen and (max-width: 1000px) {
  .page-content {
    flex-direction: column;
    height: 100%;
  }
}

/*Title*/
#title-engin-field {
  font-size: 0.8em;
}
#homeButton {
  cursor: pointer;
  user-select: none;
}

/*Cards common elements*/
.ft-w-400 {
  font-weight: 400;
}
.ft-w-500 {
  font-weight: 500;
}
