/*Define the page flexbox + card elements*/
.page-content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: var(--wcs-margin-l);
}

.default-card-section-title {
  margin: 0.2em 0;
  font-weight: 500;
}
