<wcs-action-bar gutter="">
  Codes défauts - <span id="title-engin-field">{{enginService.actual_engin}}</span>
  <div slot="actions">
    <wcs-mat-icon icon="home" slot="actions" id="homeButton" size="l" routerLink="/"></wcs-mat-icon>
  </div>
</wcs-action-bar>

<div class="page-content">
  <wcs-card>
    <wcs-card-body>
      <div class="form-line">
        <div class="form-element">
          <wcs-label>Code défaut<span class="required-star">*</span></wcs-label>
          <wcs-input></wcs-input>
        </div>
        <div class="form-element">
          <wcs-label>Calculateur</wcs-label>
          <wcs-select>
            <wcs-select-option value="">Tous</wcs-select-option>
            <wcs-select-option value="LON">LON - SIE</wcs-select-option>
            <wcs-select-option value="MVB">MVB - ODBS</wcs-select-option>
          </wcs-select>
        </div>
      </div>
    </wcs-card-body>
  </wcs-card>
  <wcs-card>
    <wcs-card-body>
      <div class="form-line">
        <div class="form-element">

        </div>
      </div>
    </wcs-card-body>
  </wcs-card>
</div>
