<div class="page-content">
  <h3>Ajout d'un élement</h3>
  <div class="form-container">

    <div class="form-line">
      <div class="form-element">
        <wcs-label>Page <span class="required-star">*</span></wcs-label>
        <wcs-select #selectPageAddPage [value]="administrationService.valuePageAddPage"
                    (wcsChange)="administrationService.valuePageAddPage = selectPageAddPage.value">
          <wcs-select-option *ngFor="let page of dataService.webPages" [value]="page.title">{{page.title_formatted}}</wcs-select-option>
        </wcs-select>
      </div>
    </div>

    <div class="form-line">
      <div class="form-element">
        <wcs-label>Engin <span class="required-star">*</span></wcs-label>
        <wcs-select #selectEnginAddPage [value]="administrationService.valueEnginAddPage"
                    (wcsChange)="administrationService.valueEnginAddPage = selectEnginAddPage.value">
          <wcs-select-option *ngFor="let engin of dataService.engins" [value]="engin.engin">{{engin.engin}}</wcs-select-option>
        </wcs-select>
      </div>
      <div class="form-element">
        <wcs-label>Type d'engin <span class="required-star">*</span></wcs-label>
        <wcs-select multiple="true" #selectTypeEnginAddPage [value]="administrationService.valueTypeEnginAddPage"
                    (wcsChange)="administrationService.valueTypeEnginAddPage = selectTypeEnginAddPage.value">
          <ng-container *ngFor="let engin of dataService.engins">
            <ng-container *ngIf="engin.engin == selectEnginAddPage.value">
              <wcs-select-option *ngFor="let type of engin.types_engin" [value]="type">{{type}}</wcs-select-option>
            </ng-container>
          </ng-container>
        </wcs-select>
      </div>
    </div>

    <div class="form-line">
      <div class="form-element">
        <wcs-label>Système <span class="required-star">*</span></wcs-label>
        <wcs-select #selectSystemeAddPage [value]="administrationService.valueSystemeAddPage"
                    (wcsChange)="administrationService.valueSystemeAddPage = selectSystemeAddPage.value">
          <ng-container *ngFor="let filter of dataService.filters">
            <wcs-select-option *ngIf="filter.page === administrationService.valuePageAddPage && filter.type === 'systeme'"
                               [value]="filter.filter">{{filter.filter_formatted}}</wcs-select-option>
          </ng-container>
        </wcs-select>
      </div>
      <div class="form-element">
        <wcs-label>Type</wcs-label>
        <wcs-select #selectTypeAddPage [value]="administrationService.valueTypeAddPage"
                    (wcsChange)="administrationService.valueTypeAddPage = selectTypeAddPage.value">
          <wcs-select-option value="" *ngIf="administrationService.valueTypeAddPage"><b>Aucun</b></wcs-select-option>
          <ng-container *ngFor="let filter of dataService.filters">
            <wcs-select-option *ngIf="filter.page === administrationService.valuePageAddPage && filter.type === 'type'"
                               [value]="filter.filter">{{filter.filter_formatted}}</wcs-select-option>
          </ng-container>
        </wcs-select>
      </div>
      <div class="form-element">
        <wcs-label>Système (Manuellement)</wcs-label>
        <wcs-input placeholder="ex: LD 5 200 ..." #inputSystemeAddPage [value]="administrationService.valueSystemeAddPage"
                   (wcsChange)="administrationService.valueSystemeAddPage = inputSystemeAddPage.value"></wcs-input>
      </div>
      <div class="form-element">
        <wcs-label>Type (Manuellement)</wcs-label>
        <wcs-input placeholder="ex: 05-3 709 829" #inputTypeAddPage [value]="administrationService.valueTypeAddPage"
                   (wcsChange)="administrationService.valueTypeAddPage = inputTypeAddPage.value"></wcs-input>
      </div>
    </div>

    <div class="form-line">
      <div class="form-element long-element">
        <wcs-label>Désignation <span class="required-star">*</span></wcs-label>
        <wcs-input placeholder="ex: Schémas de principe..." #inputDesignationAddPage [value]="administrationService.valueDesignationAddPage"
                   (wcsChange)="administrationService.valueDesignationAddPage = inputDesignationAddPage.value"></wcs-input>
      </div>
      <div class="form-element">
        <wcs-label>Ref. Principale <span class="required-star">*</span></wcs-label>
        <wcs-input placeholder="ex: LD5200 ..." #inputRefPrincipaleAddPage [value]="administrationService.valueRefPrincipaleAddPage"
                   (wcsChange)="administrationService.valueRefPrincipaleAddPage = inputRefPrincipaleAddPage.value"></wcs-input>
      </div>
      <div class="form-element">
        <wcs-label>Ref. Auxiliaire</wcs-label>
        <wcs-input placeholder="ex: 053709829" #inputRefAuxiliaireAddPage [value]="administrationService.valueRefAuxiliaireAddPage"
                   (wcsChange)="administrationService.valueRefAuxiliaireAddPage = inputRefAuxiliaireAddPage.value"></wcs-input>
      </div>
    </div>

    <div class="form-line">
      <div class="form-element">
        <wcs-label>URL Principale <span class="required-star">*</span></wcs-label>
        <wcs-input placeholder="ex: https://dsmat..." #inputURLPrincipaleAddPage [value]="administrationService.valueMainURLAddPage"
                   (wcsChange)="administrationService.valueMainURLAddPage = inputURLPrincipaleAddPage.value"></wcs-input>
      </div>
      <div class="form-element">
        <wcs-label>URL Auxiliaire</wcs-label>
        <wcs-input placeholder="ex: https://docmat..." #inputURLAuxiliaireAddPage [value]="administrationService.valueAuxURLAddPage"
                   (wcsChange)="administrationService.valueAuxURLAddPage = inputURLAuxiliaireAddPage.value"></wcs-input>
      </div>
      <div class="form-element">
        <wcs-label>Chemin local Principal <span class="required-star">*</span></wcs-label>
        <wcs-input placeholder="ex: assets/documents/xx/xxx" #inputCheminLocalPrincipaleAddPage [value]="administrationService.valueMainPathAddPage"
                   (wcsChange)="administrationService.valueMainPathAddPage = inputCheminLocalPrincipaleAddPage.value"></wcs-input>
      </div>
      <div class="form-element">
        <wcs-label>Chemin local Auxiliaire</wcs-label>
        <wcs-input placeholder="ex: assets/documents/xx/xxx" #inputCheminLocalAuxiliaireAddPage [value]="administrationService.valueAuxPathAddPage"
                   (wcsChange)="administrationService.valueAuxPathAddPage = inputRefPrincipaleAddPage.value"></wcs-input>
      </div>
    </div>

    <div class="form-line">
      <div class="form-element">
        <wcs-button class="wcs-success"
                    (click)="administrationService.addElementToDB(
                    selectPageAddPage.value,
                    selectEnginAddPage.value,
                    selectTypeEnginAddPage.value,
                    inputRefPrincipaleAddPage.value,
                    inputRefAuxiliaireAddPage.value,
                    inputURLPrincipaleAddPage.value,
                    inputURLAuxiliaireAddPage.value,
                    inputCheminLocalPrincipaleAddPage.value,
                    inputCheminLocalAuxiliaireAddPage.value,
                    inputDesignationAddPage.value,
                    inputTypeAddPage.value,
                    inputSystemeAddPage.value)">
          Ajouter
        </wcs-button>
      </div>
      <div class="form-element">
        <wcs-button class="wcs-warning" (click)="administrationService.reinitFieldsPageAdd()">Réinitialiser les champs</wcs-button>
      </div>
    </div>

  </div>
</div>
