<!--Modal default engin-->
<wcs-modal [show]="generalService.showDefaultEnginModal">
  <div slot="header">Choix de l'engin par défaut</div>
  <div class="modal-content">
    <wcs-select #enginSelect [value]="enginService.actual_engin" size="m">
      <wcs-select-option *ngFor="let engin of enginService.engins" [value]="engin.engin" (click)="this.enginService.changeActualEngin(enginSelect.value)">{{engin.engin}}</wcs-select-option>
    </wcs-select>
    <p>
      Celui-ci sera sélectionné par défaut lors des prochaines ouvertures du site
      <br><i>Il est stocké dans les cookies</i>
    </p>
  </div>
  <div slot="actions" class="slot-action">
    <wcs-button mode="stroked" (click)="generalService.toggleModal('defaultEnginModal', false)">Annuler</wcs-button>
    <wcs-button (click)="setDefaultEngin(enginSelect.value)">OK</wcs-button>
  </div>
</wcs-modal>

<!--Modal rajout engin-->
<wcs-modal [show]="generalService.showEnginsFavorisModal" size="l">
  <div slot="header">Choix des engins favoris</div>
  <div class="modal-content" id="engins-fav-modal-content">

    <wcs-label>Ajout d'un engin</wcs-label>
    <!--Select engins fav-->
    <div id="flex-engins-fav">
      <wcs-select #enginFavCategorieSelect [value]="enginService.actual_engin" size="m">
        <wcs-select-option *ngFor="let engin of enginService.engins" [value]="engin.engin">{{engin.engin}}</wcs-select-option>
      </wcs-select>
      <wcs-form-field>
        <wcs-select #enginFavTypeSelect size="m" slot="prefix">
          <ng-container *ngFor="let engin of enginService.engins">
            <ng-container *ngIf="engin.engin == enginFavCategorieSelect.value">
              <wcs-select-option *ngFor="let type of engin.types_engin" [value]="type">{{type}}</wcs-select-option>
            </ng-container>
          </ng-container>
        </wcs-select>
        <wcs-input #enginNumberInput type="number" inputmode="decimal" [placeholder]="76519" required="true" [value]="inputNumberEngin" slot="prefix"></wcs-input>
      </wcs-form-field>
      <wcs-button (click)="addFavEngin(enginFavCategorieSelect.value, enginFavTypeSelect.value, enginNumberInput.value)" class="wcs-success">Ajouter</wcs-button>
    </div>

    <wcs-grid rowIdPath="engin_numero" selection-config="multiple"
              [data]="enginService.favoriteEngins"
              (wcsGridSelectionChange)="updateSelectedFavEngin($event, 'single')"
              (wcsGridAllSelectionChange)="updateSelectedFavEngin($event, 'all')">
      <wcs-grid-column name="Engin" path="engin"></wcs-grid-column>
      <wcs-grid-column name="Type" path="engin_type"></wcs-grid-column>
      <wcs-grid-column name="N°" path="engin_numero"></wcs-grid-column>
    </wcs-grid>
    <wcs-button class="wcs-danger" id="button-delete-engin-fav" (click)="deleteFavEngins()">Supprimer</wcs-button>

  </div>
  <div slot="actions" class="slot-action">
    <wcs-button (click)="generalService.toggleModal('enginsFavoris', false)">Fini !</wcs-button>
  </div>
</wcs-modal>

<!--Modal choix Technicentre + Rajout engin-->
<wcs-modal [show]="generalService.showTechnicentreEnginModal" size="m">
  <div slot="header">Choix du Technicentre et des engins</div>
  <div class="modal-content">

    <!--Select Technicentre-->
    <wcs-label>Technicentre</wcs-label>
    <wcs-select #technicentreSelect [value]="dataService.technicentres[0].technicentre" size="m">
      <wcs-select-option *ngFor="let technicentre of dataService.technicentres" [value]="technicentre.technicentre" (click)="this.enginService.changeActualEngin(enginSelect.value)">{{technicentre.technicentre_formatted}}</wcs-select-option>
    </wcs-select>

    <p>
      Changer votre Technicentre d'affectation
      <br><i>Ces données sont stockées dans les cookies</i>
    </p>
  </div>
  <div slot="actions" class="slot-action">
    <wcs-button mode="stroked" (click)="generalService.toggleModal('technicentreEnginModal', false)">Annuler</wcs-button>
    <wcs-button (click)="setTechnicentre(technicentreSelect.value)">OK</wcs-button>
  </div>
</wcs-modal>

<!--Modal d'Authentification pour page d'administration-->
<wcs-modal [show]="generalService.showAuthConnectModal" size="m">
  <div slot="header">Connexion à la base SQL</div>
  <div class="modal-content">

    <!--Input utilisateur-->
    <div class="modal-line-element">
      <wcs-label>Utilisateur</wcs-label>
      <wcs-input id="auth-user-input" icon="person" type=""></wcs-input>
    </div>

    <!--Input mot de passe-->
    <div class="modal-line-element">
      <wcs-label>Utilisateur</wcs-label>
      <wcs-input id="auth-password-input" icon="key" type="password"></wcs-input>
    </div>

    <p class="modal-line-element">
      Authentification auprès de la base de donnée SQL.<br>Identifiants différents du SI SNCF
    </p>
  </div>
  <div slot="actions" class="slot-action">
    <wcs-button mode="stroked" (click)="generalService.toggleModal('authConnect', false)">Annuler</wcs-button>
    <wcs-button>Se connecter</wcs-button>
  </div>
</wcs-modal>

<!--Card pour avertir que les données ne sont pas forcément tenues à jour-->
<wcs-card mode="flat" *ngIf="generalService.showOfflineCard" id="warning-version-card">
  <wcs-card-body id="warning-version-card-body">
    ⚠️ Les documents ne sont pas tenus à la dernière version en mode hors-ligne...
    <wcs-mat-icon icon="close" id="button-close-card" (click)="generalService.showOfflineCard = false"></wcs-mat-icon>
  </wcs-card-body>
</wcs-card>
