/*WCS Styling rules*/
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--wcs-white);
  color: var(--wcs-gray);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

html, body, h1, h2, h3, h4, h5 {
  font-family: var(--wcs-font-sans-serif);
}

h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--wcs-gray);
}

.hidden {
  display: none;
}

hr {
  border-bottom: 0;
  border-top: solid 1px var(--wcs-light);
}

.link {
  color: var(--wcs-primary);
  text-decoration: none;
  font-weight: 500;
  padding: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.link:hover {
   color: #0074af;
 }

/*Include SNCF fonts*/
@font-face {
  font-family: Avenir;
  src: url("~src/assets/fonts/avenir-lighter.woff");
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url("~src/assets/fonts/avenir-book.woff");
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url("~src/assets/fonts/avenir-medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: Avenir;
  src: url("~src/assets/fonts/avenir-black.woff");
  font-weight: 900;
}

@font-face {
  font-family: "icons";
  src: url("/assets/fonts/icons/icons.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/icons/icons.woff2") format("woff2"),
  url("/assets/fonts/icons/icons.woff") format("woff"),
  url("/assets/fonts/icons/icons.ttf") format("truetype"),
  url("/assets/fonts/icons/icons.svg#icons") format("svg");
}


/* Include material icons fonts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/icons/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/icons/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Material Icons Two Tone';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/icons/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/icons/MaterialSymbolsRounded-VariableFont_FILL,GRAD,opsz,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Material Icons Sharp';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/icons/MaterialSymbolsSharp-VariableFont_FILL,GRAD,opsz,wght.ttf') format('truetype');
}

/*User defined styles*/
.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.card-content {
  display: flex;
  flex-flow: column nowrap;
  align-content: start;
  gap: 1em
}
h2 {
  margin: 0.3em 0;
}
.bold {
  font-weight: bold;
}
.text-wcs-orange {
  color: var(--wcs-orange);
}
.text-wcs-red {
  color: var(--wcs-red);
}
.text-wcs-blue {
  color: var(--wcs-blue);
}

/*Flex styling boostrap like classes*/
.flex-row {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}
.flex-column {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}
.flex-align-center {
  align-items: center;
  align-content: center;
}
.flex-align-end {
  align-items: end;
  align-content: end;
}
.flex-justify-center {
  justify-items: center;
  justify-content: center;
}

/*Form styling*/
.form-grid-container {
 display: flex;
  flex-flow: column;
  align-content: start;
  text-align: start;
}
.add-grid-container {
  gap: 0.8em;
  margin-top: 1em;
  align-items: flex-end;
}
.select-add-grid {
  flex-grow: 1;
}

/*Modals specific styles*/
.columnForm {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}
.rowForm {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;

}
wcs-form-field {
  text-align: start;
}
.icon-button {
  cursor: pointer;
  user-select: none;
}
